
<footer class="footer hidden-print">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           {{ partial "bloc/footer/nav" . }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
              {{ partial "bloc/footer/credits" . }}
        </div>
		<div style="height: 20px" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=1bb546e8-5040-411b-838e-540735baea5e"></script>
		</div>
    </div>
  </div>
</footer>
